<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753971544701-f29q7pt6188f4k0bflqcl75b3445kpas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753971544701-f29q7pt6188f4k0bflqcl75b3445kpas</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753971544701-n5ld5mc8v9vcsm23pbeqlr1ctk4bmomk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0Be1QSiRIAliJr61R80lBd7MesczZoQI</string>
	<key>GCM_SENDER_ID</key>
	<string>753971544701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.funitureShop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>furniture-shop-devera</string>
	<key>STORAGE_BUCKET</key>
	<string>furniture-shop-devera.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753971544701:ios:d35bc8ffb4c55d71ff6714</string>
	<key>DATABASE_URL</key>
	<string>https://furniture-shop-devera-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>